<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>




<body>
    <main>

        <div class="group" id="connections">
            <div class="group-con">
                <span></span>
                    <div class="contents">
                        <div class="contents-title">yo</div>
                        <div class="contents-sub">sup</div>
                    </div>
                </a>
            </div>
        </div>

    </main>

</body>